/* General Styles */

body {
  background-color: #B2E6F1;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  color: #8EB37B;
  align-items: center;
}

/* Header Icon Hack */

h1 img {
  margin-bottom: 12px;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

p {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: #66514F;
  font-size: 1.25em;
}

.section-header {
  margin: 0 auto;
  margin-top: 20px;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  padding-top: 10px;
  border-color: white;
}

.section-header h1 {
  font-size: 3em;
  color: #66514F;
  font-variant-caps: small-caps;
  text-align: center;
  margin-top: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

.row {
  align-items: center;
}

/* Intro Styles */

#myname {
  text-shadow: 2px 2px 4px black;
  margin-left: 1em;
}

#profile-image {
  width: 100%;
  border-radius: 25px;
}

#mural {
  float: center;
  max-width: 100%;
  margin: 20px;
}

#mission {
  max-width: 75%;
  margin: 0 auto;
  padding-top: 10px;
}

.outermural {
  overflow: hidden;
  position: relative;
}

.innermmural {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -50px;
  top: 50px;
}

/* My Work Styles & Img Formatting */

.workimg {
  width: 80%;
  max-width: 800px;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  transition: opacity 0.5s;
}

.workimg:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

/* Work Experience - Creative & Athletic */

.jobtitle {
  text-align: right;
  text-transform: uppercase;
  color: #66514F;
}

.jobtitle h4 {
  font-size: 32px;
}

.jobdates h5 {
  text-align: center;
  color: #8EB37B;
}

.company {
  border-bottom: 1px solid #8EB37B;
  padding-bottom: 5px;
}

.jobdesc p {
  text-align: justify;
  font-size: 15px;
}

/* Button Styles */

.btn {
  background-color: #8EB37B;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 28px;
  font-variant: small-caps;
  width: 200px;
  height: 100px;
  border: 0;
}

.btn:hover {
  background-color: #8EB37B70;
}

.testimonials {
  text-align: center;
}

/* Education */

.education {
  text-align: right;
  text-transform: uppercase;
  color: #66514F;
}

.education h4 {
  font-size: 32px;
}

h5 {
  text-align: center;
  color: #8EB37B;
  text-transform: none;
}

.degree {
  border-bottom: 1px solid #8EB37B;
  padding-bottom: 5px;
}

/* Skills */

#skills {
  margin-bottom: 20px;
}

.list-unstyled {
  text-align: center;
}

li{
  font-size: 1.5em;
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  color: #66514F;
}

li span{
  font-size: 1em;
}

.list-unstyled li:before {
  content: url(https://raw.githubusercontent.com/JMeltzer92/Jon-Meltzer-Jour652/main/resume-final/images/Tree1.svg);
  font-size: 0.75em;
  padding-right: 10px;
}

/* Contact */

.row {
  margin: 0 auto;
  text-align: center;
}

.bi {
  font-size: 3em;
  color: #8EB37B;
}

.contactentry {
  text-align: center;
  padding: 1em;
  border: 1px solid #8EB37B50;
  border-radius: 0.5em;
  margin-top: 0.5em;
}

/* Footer */

.footer {
  background-color:floralwhite;
  margin-top: 10px;
  text-align: right;
  font-family: 'Roboto Condensed', sans-serif;
}

/* NavBar Styles */

#godown {
  height: 60px;
}

.navbar {
  padding-left: 1em;
  padding-right: 1em;
}

.dropdown-menu {
  background-color: #4E6641;
}

.dropdown-menu a {
  color: white;
}

/* End NavBar Styles */

.container {
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (max-width: 1007px) {
  h1 {
    text-align: center;
  }

  #myname {
    margin-left: 0px;
  }

  .jobtitle h4 {
    text-align: center;
  }

  .education h4 {
    text-align: center;
  }

  .header-image {
    text-align: center;
  }

  img {
    margin: 0 auto;
    text-align: center;
  }

  h1 img {
    display: none;
  }
}
