body {
  background-color: #B2E6F1;
  opacity: 70%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.container {
}
