/* Styles for my Resume */

/* General Font Style */
body {
  font-family: 'open sans', arial, sans-serif;
  color: #444;
  font-size: 1em;
  font-weight: 400;
}

/* My Name */
h1 {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
}

/* Title */
.title {
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}


/* Section Headers  */
h2 {
  font-size: 1.5em;
  background-color: #33485e;
  color: white;
  text-transform: uppercase;
}

/* Job Titles */
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/* Job Companies */
h4 {
  font-size: 1.5em;
  font-weight: 400;
}

/* Job Dates */
h5 {
  font-style: italic;
}
