/* Styles for my Resume */

/* General Font Style */
body {
  font-family: 'open sans', arial, sans-serif;
  color: #444;
  font-size: 1em;
  font-weight: 400;
}

/* My Name */
#name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* Title */
.title {
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}


/* Section Headers  */
.sectionheader {
  font-size: 1.5em;
  background-color: #33485e;
  color: white;
  text-transform: uppercase;
  margin: 20px 10px 0px 0px;
  width: 70%;
  min-width: 300px;
}

/* Job Titles */
.jobtitle {
  font-size: 1.25em;
  font-weight: 600;
}

/* Job Companies */
.organization {
  font-size: 1.25em;
  font-weight: 400;
}

/* Job Dates */
.date {
  font-style: italic;
  margin: 2px 0px;
}

/* Descriptive Text */
.description {
  margin: 10px 0px;
}

/* Contact Info */
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu > li {
  display: inline;
}
