/* General Spacing o7 */
.body {
  margin: 0 auto;
  max-width: 100%;
}

/* Headline / Hero */

#bg-img-container {
  background-image: url(https://raw.githubusercontent.com/JMeltzer92/Jon-Meltzer-Jour652/main/multimedia-story/images/group-of-fists-2.png);
  position: relative;
}

#title-text-container {
  background-color: #80808040;
  border-radius: 25px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  margin: 0 auto;
  font-size: 66px;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  color: #FB2A03;
  text-transform: uppercase;
  text-align: center;
  margin-top: 16px;
}

.hero {
  max-width: 85%;
}

.headline {
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 33px;
  text-align: right;
  color: white;
}

#byline {
  text-align: right;
  color: white;
  font-style: italic;
  font-size: 20px;
}

/* Pull Quotes */

h4 {
  font-size: 44px;
  color: orange;
  margin: 0 auto;
}

/* Images */

figcaption {
  text-align: center;
  color: gray;
  font-size: 18px;
  font-style: italic;
  margin: 5px;
}

figure {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Chapters */

.chapter {
  margin: 3em;
}

p {
  width: 75%;
  margin: 0 auto;
  font-size: 22px;
  text-align: justify;
  padding: 22px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-left: 200px;
  padding: 22px 0px;
  font-size: 44px;
  color: #E34702;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* Drop Caps Styles */

.has-dropcap:first-letter {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FB2A03;
  color: white;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 4px;
}

/* Graphics & Images */

iframe {
  padding: 22px 0px;
}

figure {
  padding: 22px 0px;
}

/* Columns */

.col-md-4 {
  text-align: center;
}

/* Footer */

footer {
  text-align: right;
  background-color: black;
}

/* Responsive Design */

@media screen and (max-width:989px) {
  #wclogo {
    display: none;
  }

  #wcicon {
    display: block;
  }

  p {
    width: 100%;
    padding: 11px 0px;
  }

  h2 {
    font-size: 33px;
    padding: 11px 0px;
  }

}

@media screen and (max-width: 1300){
  .bg-img-container {
    display: none;
  }

  .bg-image img {
    display: none;
  }
}