/* General Spacing o7 */
.body {
  margin: 0 auto;
  max-width: 100%;
}

/* NavBar */
.navbar {
    background-color: #f31d0d;
}

/* Parallax Topper */

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("images/group-of-fists.png");
    height: 1000px;
}

#decoration {
    top: 5%;
    right: 50%;
    position: absolute;
}

#striketober {
    position: absolute;
    font-family: 'Special Elite', serif;
    text-transform: uppercase;
    color: white;
    font-size: 4em;
}

.title {
    height: 500px;
    background-color: #FB2A03;
    color: white;
    height: 100%;
    padding: 50px 80px;
    font-family: 'Special Elite', serif;
    text-align: center;
    text-transform: uppercase;
}

.title h1 {
    font-size: 5em;
}

.bgimg-2 {
    background-image: url("images/amc-strike.png");
    height: 1000px;
}

#byline {
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 700px;
    background-color: #80808099;
    padding: 5px 20px;
    text-align: right;
}

#by-text {
    color:white;
    font-family: 'Special Elite', serif;
    font-size: 1.75em;
}

#caption {
    position: absolute;
    bottom: 5%;
    left: 5%;
    max-width: 600px;
    background-color: #80808099;
    padding: 5px 20px;
}

#cap-text {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #E34702;
    margin-top: 50px;
    padding-bottom: 0px;
    font-size: 4em;
    border-bottom: 3px solid #808080;
}

/* Pull Quotes */

h4 {
  font-size: 44px;
  color: orange;
  margin: 0 auto;
}

/* Images */

figcaption {
  text-align: center;
  color: gray;
  font-size: 18px;
  font-style: italic;
  margin: 5px;
}

figure {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Chapters */

.chapter {
  margin: 3em;
}

p {
  width: 75%;
  margin: 0 auto;
  font-size: 22px;
  text-align: justify;
  padding: 22px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin-left: 200px;
  padding: 22px 0px;
  font-size: 44px;
  color: #E34702;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* Drop Caps Styles */

.has-dropcap:first-letter {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FB2A03;
  color: white;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: 4px;
}

/* Graphics & Images */

iframe {
  padding: 22px 0px;
}

figure {
  padding: 22px 0px;
}

/* Columns */

.col-md-4 {
  text-align: center;
}

/* Footer */

footer {
  text-align: right;
  background-color: black;
}

/* Responsive Design */

@media only screen and (max-width:1366px) {
  #wclogo {
    display: none;
  }

  #wcicon {
    display: block;
  }

  p {
    width: 100%;
    padding: 11px 0px;
  }

  h2 {
    font-size: 33px;
    padding: 11px 0px;
  }

  .parallax {
    background-attachment: scroll;
  }
}