/* General Spacing o7 */
.body {
  margin: 0 auto;
  max-width: 100%;
}

/* Headline / Hero */
.hero {
  max-width: 75%;
}

#byline {
  text-align: right;
  color: gray;
  font-style: italic;
}

/* Images */

figcaption {
  text-align: center;
  color: gray;
  font-size: .75em;
  font-style: italic;
  margin: 5px;
}

figure {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Chapters */

.chapter {
  margin: 3em;
}

/* Columns */

.col-md-4 {
  text-align: center;
}

/* Footer */

footer {
  text-align: right;
  background-color: black;
}
